*
!**/identifyCellType/code/*.R
#!identifyCellType/plot
!**/infercnv/*.R
#!infercnv/output/infercnv.png
!/quantification/code/*.R
!**/R
!/data/code/*.R
!**/integrate_each_to_atlas_rmDEG/code/*.R
!**/infercnv/output/infercnv.png 
!**/identifyCellType/plot/hm.pdf 
!README.md
!.gitignore
!*/
